<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> | 
            <a href="/users/add">Add</a> | 
            <a href="/list">List</a>
        </div>    
        <h1><%= title %></h1>